@import 'common.scss';

.blog-banner__container {
    width: 100%;

    .blog-banner__wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 3em 0 3em 1em;
        margin: 2em auto 1em;
        justify-content: center;
        background-color: $lgray;

        @media screen and (max-width: 1040px) {
            grid-template-columns: 1fr;
            padding: 1em 0 2em;
        }

        .blog-banner__main {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: 1040px) {
                align-items: center;
                margin-bottom: 40px;
            }

            .blog-banner__content {
                width: 500px;
                max-width: 90vw;
                padding: 20px;
                text-align: center;

                .blog-banner__title {
                    @include font-title;
                    margin-bottom: 32.2px;

                    @media screen and (max-width: 540px) {
                        font-size: 30px;
                        margin-bottom: 24.9px;
                    }
                }

                .blog-banner__text {
                    @include font-text;
                    font-size: 16px;
                    margin: 32px 0;

                    @media screen and (max-width: 540px) {
                        font-size: 12px;
                        margin: 24px 0;
                    }
                }

                .blog-banner__link {
                    @include button;
                    @include font-description;
                    text-decoration: none;

                    @media screen and (max-width: 540px) {
                        font-size: 12px;
                        margin: 12px 24px;
                    }

                    &:hover {
                        @include ref-button;
                        @include reference;
                    }
                }
            }
        }

        .swiper-third {
            padding: 0;
            margin: 0;
            z-index: 1;
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;

            .swiper-wrapper-third {
                display: flex;
                height: 100%;
                width: 100%;

                .swiper-slide-third {
                    position: relative;
                    transition: .3s;
                    flex-shrink: 0;

                    .swiper-slide-third__item {
                        padding: 0 1.5em;
                        height: 100%;
                        width: 100%;

                        @media screen and (max-width: 640px) {
                            padding: 0;
                        }

                        .swiper-slide-third__link {
                            text-decoration: none;
                            text-align: center;

                            &:hover > p {
                                @include reference;  
                            }

                            &:hover > .swiper-slide-third__img-wrapper::before {
                                opacity: 0.2;
                            }

                            .swiper-slide-third__img-wrapper {
                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 91%;
                                width: 100%;
                                
                                @media screen and (max-width: 540px) {
                                    max-width: 200px;
                                    margin: auto;
                                }

                                .swiper-slide-third__img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }

                            .swiper-slide-third__img-wrapper::before {
                                content: '';
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                z-index: 1;
                                background: rgb(0, 0, 0, 0.5);
                                opacity: 0;
                                transition: .3s;
                            }

                            .swiper-slide-third__description {
                                @include font-description;
                                margin: 11.6px 0;
                            }
                        }
                    }
                }
            }

            .swiper-button-prev-third {
                position: absolute;
                left: 20px;
                top: calc(50% - 7.5px);
                z-index: 4;
                cursor: pointer;
                padding: 9px 11px;
                background: rgba(0,0,0,.6);
                color: $white;
                display: none;

                @media screen and (max-width: 1040px) {
                    display: block;
                    left: 140px;
                }

                @media screen and (max-width: 640px) {
                    left: 100px;
                    background: rgba(0,0,0,.0);
                    color: $black;
                }

                @media screen and (max-width: 640px) {
                    left: 50px;
                }
        
                > i {
                    font-size: 15px;
                }
        
                &:focus {
                    border: 1px solid rgb(114, 152, 181);
                }
            }

            .swiper-button-next-third {
                position: absolute;
                right: 20px;
                top: calc(50% - 7.5px);
                z-index: 4;
                cursor: pointer;
                padding: 9px 11px;
                background: rgba(0,0,0,.6);
                color: $white;

                @media screen and (max-width: 1040px) {
                    right: 140px;
                }
                
                @media screen and (max-width: 640px) {
                    right: 100px;
                    background: rgba(0,0,0,.0);
                    color: $black;
                }

                @media screen and (max-width: 640px) {
                    right: 50px;
                }

                > i {
                    font-size: 15px;
                }
        
                &:focus {
                    border: 1px solid rgb(114, 152, 181);
                }
            }
        }
    }
}