@import "common.scss";

.split-container {

    .split-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        margin: 1em auto;

        @media screen and (max-width: 1040px) {
            grid-template-columns: 1fr;
        }

        .split__img-container {
            display: flex;
            align-items: center;
            justify-content: center;

            .split__img {
                max-width: 100%;
                object-fit: cover;
                align-self: center;
            }
        }

        .split__main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $gray;
            padding: 48px 80px 48px 120px;

            @media screen and (max-width: 1040px) {
                padding: 48px;
            }

            @media screen and (max-width: 740px) {
                text-align: center;
            }

            @media screen and (max-width: 540px) {
                padding: 36px;
            }

            

            .split__content {

                .split__title {
                    @include font-title;
                    margin: 40px 0;
                    max-width: 440px;

                    @media screen and (max-width: 740px) {
                        max-width: none;
                    }

                    @media screen and (max-width: 540px) {
                        font-size: 30px;
                        margin: 30px 0;
                    }
                }

                .split__link {
                    @include font-description;
                    @include button;
                    text-decoration: none;

                    &:hover {
                        @include ref-button;
                    }

                    @media screen and (max-width: 540px) {
                        font-size: 12px;
                        padding: 1.3em 2em;
                    }
                }
            }
        }
    }
}